{erl_opts, [debug_info]}.
{deps, [
	qdate
]}.

{shell, [
    {config, "canister.config"},
    {apps, [canister]}
]}.

{dialyzer, [
    {plt_apps, all_deps}
]}.


{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/nitrogen/canister">>},
          {extras, [<<"README.md">>, <<"LICENSE.md">>]},
          {main, <<"readme">>}]}.
